*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-image: linear-gradient(190deg, #525252, #021b27);
  width: 100%;
  height: 100vh;
  color: #f7f7f7;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}